:root {
    --smoky-black: #140c09ff;
    --platinum: #e6e7e9ff;
    --beige: #f4f4daff;
    --beige-2: #f6f2d7ff;
    --smoky-black-2: #1a0a05ff;
    --lavender-web: #dce4f4ff;
    --light-goldenrod-yellow: #fafad6ff;
    --light-goldenrod-yellow-2: #faf5d1ff;
    --rangoon-green: #0b0a07ff;
    --cararra: #e9e9e0ff;
    --jumbo: #838384ff;
    --gunsmoke: #848c8aff;
}
* {
    margin: auto;
    transition: 0.5s all;
    box-sizing: border-box;
}
ul, li, a {
    text-decoration: none;
    text-decoration-style: none;
}
a:link, a:visited {
    background-color: transparent;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
a:hover, a:active {
    border-bottom: 2px solid white;
}
body {
    overflow: hidden;
    height: 100vh;
}
div.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}
aside {
    background-image: url("face_bw.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    font-family: 'Kaushan Script', cursive;
    color: var(--beige-2);
    display: flex;
    width: 100%;
    height: 100%;
}
.side {
    background-color: rgba(0, 0, 0, 0.5);
}
.side>p {
    margin-bottom: 2%;
    margin-right: 2%;
    font-size: 100%;
}
main {
    color: var(--smoky-black-2);
    overflow-y: auto;
    height: 100vh;
    background: none;
}
section.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 5%;
}
main>section.page {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--beige-2);
}
main>section.page:nth-child(2n) {
    background-color: var(--beige-2);
    color: var(--smoky-black);
}
.header {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 275%;
}
.title {
    font-size: 300%;
    margin-left: 5%;
    font-family: sans-serif;
}
h2.title {
    font-size: 500%;
    font-family: sans-serif;
}
footer {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    background-color: black;
    display: flex;
    width: 100%;
    height: 10%;
}