* {margin: auto;transition: 2s all;}
body {background-image: linear-gradient(to bottom right, black, rgb(114, 11, 11));}
ul,li,a {text-decoration:none;text-decoration-style:none;}
header {display:flex;width:100vw;height:15vh;position:absolute;background-color:rgba(0,0,0,0);}
header, nav {color:white;}
header span {margin-left: 4%;}
header span p {font-size: 200%;}
span p, .parent p {font-family: 'Kaushan Script', cursive;}
header nav {margin-right: 5%;}
a:link, a:visited {
  background-color: transparent;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
a:hover, a:active {border-bottom: 2px solid white;}
.parent {
  display: flex;
  width:100vw;
  height:90vh;
  /* background-color:red; */
  
}
.parent p {
  text-transform:uppercase;
  color: white;
  font: outline;
  font-size: 170%;
  margin-bottom: 5%;
  margin-right: 7%;
}
footer {display:flex;background-color:transparent;width:100vw;height:10vh;color:white}